@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #172554;
}

.red-text-glow {
  color: #ff0000; /* Red color text */
  text-shadow: 0 0 10px #ff0000; /* Horizontal offset, vertical offset, blur radius, color */
}
